<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= image_tag("brand.png", width: '200', class: "navbar-item") %>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Home", root_path, class: "navbar-item" %>
    </div>
  </div>
</nav>

<section class="section columns is-centered">
  <%= render "form" %>
</section>

<section class="section">
  <div class="container is-fluid">
      <div class="columns is-multiline">
      <% if !@results.empty? %>
        <% @results.each do |photo| %>
          <div class="column is-4">
          <figure class="image">
            <%= link_to image_tag("https://live.staticflickr.com/#{photo.server}/#{photo.id}_#{photo.secret}.jpg", loading: "lazy"), photo.short_url %>
            </figure>
          </div>
        <% end %>
      <% else %>
        <div class="column has-text-centered">
          <h1 class="subtitle is-2">No results found!</h1>
        </div>
      <% end %>
    </div>
  </div>
</section>

<% if @results.any? %>
  <footer class="footer">
    <%= will_paginate @results, renderer: BulmaPagination::Rails, class: "is-centered" %>
  </footer>
<% end %>
